<section id="about" class="section">
    <div class="container">
        <h2 class="section-title">À Propos De Moi</h2>
        <div class="about-content">
            <div class="about-text">
                <p class="intro-text">
                    Curieux et motivé, j’aime transformer les idées en solutions propres, efficaces et évolutives.
                </p>
                
                <div class="highlights">
                    <div class="highlight-item">
                        <div class="highlight-icon">🎓</div>
                        <div>
                            <h4>Education</h4>
                            <p>Master en Informatique et Télécommunication<br>Diplômé prévu : 2025</p>
                        </div>
                    </div>
                    
                    <div class="highlight-item">
                        <div class="highlight-icon">💡</div>
                        <div>
                            <h4>Passion</h4>
                            <p>Développeur Fullstack | Backends robustes, interfaces fluides</p>
                        </div>
                    </div>
                </div>
                
                <p class="closing-text">
                    Je privilégie un code propre et maintenable, et je cherche constamment 
                    à apprendre des développeurs expérimentés
                </p>
            </div>
            
            <div class="about-image">
                <div class="image-container">
                    <img ngSrc="assets/about-image.png" width="350" height="263" alt="Coding workspace" class="workspace-img" loading="lazy">
                    <div class="floating-elements">
                        <div class="floating-element" style="top: 20%; right: -1px;">
                            <img ngSrc="assets/icons/spring.png" width="140" height="50" alt="Spring Boot" class="tech-icon spring" loading="lazy">
                        </div>
                        <div class="floating-element" style="top: 50%; right: 70px;">
                            <img ngSrc="assets/icons/java.png" width="110" height="110" alt="JAVA" class="tech-icon java" loading="lazy">
                        </div> 
                        <div class="floating-element" style="top: 25%; right: 250px;">
                            <img ngSrc="assets/icons/nodejs.png" width="60" height="60" alt="Node.js" class="tech-icon node" loading="lazy">
                        </div>
                        <div class="floating-element" style="top: 10%; left: 20px;">
                            <img ngSrc="assets/icons/angular.png" width="50" height="50" alt="Angular" class="tech-icon angular" loading="lazy">
                        </div>
                        <div class="floating-element" style="top: 60%; left: 180px;">
                            <img ngSrc="assets/icons/typescript.jpg" width="50" height="50" alt="TypeScript" class="tech-icon typescript" loading="lazy">
                        </div>
                        <div class="floating-element" style="top: 85%; left: 5px;">
                            <img ngSrc="assets/icons/express.jpg" width="130" height="40" alt="Express" class="tech-icon express" loading="lazy">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>