<section id="about" class="section">
    <div class="container">
    <h2 class="section-title">À Propos De Moi</h2>
    <div class="about-content">
        <div class="about-text">
        <p class="intro-text">
        Curieux et motivé, j’aime transformer les idées en solutions propres, efficaces et évolutives.
        </p>
        
        <div class="highlights">
            <div class="highlight-item">
                <div class="highlight-icon">🎓</div>
                <div>
                    <h4>Education</h4>
                    <p>Master en Informatique et Télécommunication<br>Diplômé prévu : 2025</p>
                </div>
            </div>
            
            <div class="highlight-item">
                <div class="highlight-icon">💡</div>
                <div>
                    <h4>Passion</h4>
                    <p>Fullstack Developer | Backends robustes, interfaces fluides</p>
                </div>
            </div>
        </div>
        
        <p class="closing-text">
            Je privilégie un code propre et maintenable, et je cherche constamment 
            à apprendre des développeurs expérimentés
        </p>
        </div>
        
        <div class="about-image">
    <div class="image-container">
        <img src="assets/about-image.png" alt="Coding workspace" class="workspace-img">
        <div class="floating-elements">
            <div class="floating-element" style="top: 20%; right: -1px;">
                <img src="assets/icons/spring.png" alt="Spring Boot" class="tech-icon spring">
            </div>
            <div class="floating-element" style="top: 50%; right: 70px;">
                <img src="assets/icons/java.png" alt="JAVA" class="tech-icon java">
            </div> 
            <div class="floating-element" style="top: 25%; right: 250px;">
                <img src="assets/icons/nodejs.png" alt="Node.js" class="tech-icon node">
            </div>
            <div class="floating-element" style="top: 10%; left: 20px;">
                <img src="assets/icons/angular.png" alt="Angular" class="tech-icon angular">
            </div>
            <div class="floating-element" style="top: 60%; left: 180px;">
                <img src="assets/icons/typescript.jpg" alt="TypeScript" class="tech-icon typescript">
            </div>
            <div class="floating-element" style="top: 85%; left: 5px;">
                <img src="assets/icons/express.jpg" alt="Express" class="tech-icon express">
            </div>
        </div>
    </div>
</div>

    </div>
    </div>
</section>