<section id="home" class="hero">
    <div class="container">
        <div class="hero-content">
            <div class="hero-text">
                <h1 class="hero-title">
                    Bonjour, je suis <span class="highlight">Jean Bruno</span><br> 
                    <span class="smaller-text">Développeur Fullstack</span>
                </h1>
                <p class="hero-description">
                    Développeur Fullstack passionné par la création de backends performants et sécurisés, 
                    tout en assurant un frontend fluide.
                </p>
                <div class="hero-actions">
                    <a href="#projects" class="btn btn-primary">Découvrez Mes Projets</a>
                    <a href="#contact" class="btn btn-outline">Me Contacter</a>
                </div>
            </div>
            <div class="hero-image">
                <div class="profile-card">
                    <div class="profile-avatar pulse">
                        <img ngSrc="assets/me.png" width="120" height="120" alt="Jean Bruno Rakotomiandrisoa" class="avatar-img" priority>
                    </div>
                    <div class="profile-info">
                        <h3>Jean Bruno</h3>
                        <p>Développeur Fullstack</p>
                        <div class="profile-stats">
                            <div class="stat">
                                <span class="stat-number">10+</span>
                                <span class="stat-label">Projets</span>
                            </div>
                            <div class="stat">
                                <span class="stat-number">2+</span>
                                <span class="stat-label">Années d’expérience</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>